<div class="row">
    <div class='col-sm-4'>
        <div class="form-group">
            <div class='input-group date' id='fromDate'>
                <input type='text' class="form-control" />
                <span class="input-group-addon">
                    <span class="fa fa-calendar"></span>
                </span>
            </div>
        </div>
    </div>

    <div class='col-sm-4'>
        <div class="form-group">
            <div class='input-group date' id='toDate'>
                <input type='text' class="form-control" />
                <span class="input-group-addon">
                    <span class="fa fa-calendar"></span>
                </span>
            </div>
        </div>
    </div>

    <button type="button" onClick="submitDates()">Apply Filter</button>

    <div class="col-lg-12 chart">
    </div>
</div>
    
    <style>
        .chart {
            background-color: white;
        }

        .chart rect {
            stroke: white;
            fill: steelblue;
        }

        .axis {
            shape-rendering: crispEdges;
        }

        .x.axis line {
            stroke: black;
        }

        .y.axis line {
            stroke: black;
        }

        .axis text {
            font-size: 12px;
        }

        .safety .safe-sugar {
        fill: green;
        opacity: .1;

        }
    </style>

    <script>
        initDatePickers();
        initChart();
    </script>
