<ul class="nav navbar-top-links navbar-right">
    <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
            <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
        </a>
        <ul class="dropdown-menu dropdown-user">
            <li>
                <a><i class="fa fa-user fa-fw"></i> <%= @current_user.github_name %> </a>
            </li>
            <li class="divider"></li>
            <li>
                <%= link_to session_path, method: :delete do %>
                    <i class="fa fa-sign-out fa-fw"></i>
                    Sign Out
                <% end %>
            </li>
        </ul>
        <!-- /.dropdown-user -->
    </li>
    <!-- /.dropdown -->
</ul>
<!-- /.navbar-top-links -->
